* {
background-color:lightgrey ;}

#tituloPrincipal {text-align:center; 
color:purple;
background-color: rgb(218, 126, 226);
text-shadow: 3px 5px 5px gray }
#direccion {text-align: right;}

/* Navegacion entre HTMLs*/
#menu {display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 90px; font-size: 20px;
    list-style-type: none;
    cursor: pointer;}
.menuItem{ width: 160px;
    border: solid 1px purple;
    padding-left: 25px;
 }
 /* Respuesta de links */
a:link{color: purple;}    
a:visited{color: grey;}
a:hover{color: black;}

#imagenDentro {position:relative; bottom:540px; left:600px}
#formulario {position:relative; bottom:570px; left:250px; 
background-color: lightslategray;}

#texto{color: purple;}
/* Box modeling*/
.caja {background-color: plum;
    text-align: center;
     padding: 10px;
     margin: 10px;
     width: 200px;
     position:relative; bottom:440px; left:250px;
     list-style-type: none;
    }
#caja1 {background-color:thistle ;
        border: 2px solid black;
        height: 55px;
        overflow: auto;
       } 
#caja2 {background-color: slategray;
        margin-top: 50px;
        border: 2px solid black;
        }

